body {
  font-family: Arial, sans-serif;
  background-color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 450px;
}

h1 {
  text-align: center;
  color: rgb(6, 6, 80);
}

form {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #141212;
  border-radius: 6px;
}

button {
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  background-color: rgb(6, 6, 80);
  color: #fff;
  border-radius:6px;
  cursor: pointer;
  margin:5px;
  /* font-size: 30px; */

}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

li button {
  margin-left: auto; 
  padding: 6px 14px;
  font-size: 20px;
  background-color:  rgb(6, 6, 80);;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
